@import url('https://fonts.googleapis.com/css%27');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html, body{
  display: grid;
  height: 100%;
  place-items: center;
}
textarea{
  padding: 10px;
  font-size: 17px;
  width: 400px;
  resize: none;
  text-align: justify;
  color: #16a085;

}
textarea:focus{
  outline-color: #16a085;
  border-color: #16a085;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #16a085;
  min-height: 200px;
  width: 1500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}